<div class="my-login-wrapper">
    <div class="my-login-inner">
        <div class="my-login-container">
            <header>
                <div class="my-login-header">
                    <a href="/" class="pull-left">LOGO</a>
            <span class="pull-right">
            	<a href="login">登录</a>   |   <a href="reg-start">注册</a>
            </span>
                </div>
            </header>
            <div class="my-login-box">
                <p class="my-text-center my-mar-b30"><img src="images/slogon.png" width="377" height="44" /></p>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6"><a href="login"><button type="button" class="btn btn-lg btn-primary btn-block" >登录</button></a></div>
                        <div class="col-md-6"><a href="reg-start"><button type="button" class="btn btn-lg btn-default btn-block">注册</button></a></div>
                    </div>
                </div>
            </div>
            <footer class="my-footer-home">
                <div class="my-wp-1200">
                    <ul class="ui-nav">
                        <li class="ui-nav-item">
                            <a href="#"><span class="ui-icon ui-icon-about"></span><span class="ui-nav-text">关于良仓</span></a>
                        </li>
                        <li class="ui-nav-item">
                            <a href="#"><span class="ui-icon ui-icon-support"></span><span class="ui-nav-text">申请成为供应商</span></a>
                        </li>
                        <li class="ui-nav-item">
                            <a href="#"><span class="ui-icon ui-icon-buy"></span><span class="ui-nav-text">申请成为采购商</span></a>
                        </li>
                        <li class="ui-nav-item">
                            <a href="#"><span class="ui-icon ui-icon-club"></span><span class="ui-nav-text">申请加入美妆俱乐部</span></a>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>