<div class="page-group">
    <div id="page-invest-list" class="page page-current my-white-bg">
<header class="my-header-default">
    <div class=" my-login-header">
    	<span class="pull-left">
         Hi,用户名  <a href="/">退出</a>
        </span>
    </div>
</header>

<nav class="my-border-bottom">
    <div class="my-wp-1200">
        <a href="/login-suc" class="my-logo">美仓众筹</a>
        <ul class="nav nav-pills pull-right">

            <li role="presentation" class="active"><a href="../login-suc">首页</a></li>
            <li role="presentation"><a href="../invest/invest-list">权益众筹</a></li>
            <li role="presentation"><a href="../product/product-list">产品众筹</a></li>
            <li role="presentation"><a href="../users/my-pre-order">我的预约</a></li>
            <li role="presentation"><a href="../users/my-invest-list">我的众筹</a></li>
        </ul>
    </div>
</nav>


<div class="my-wp-1200">

    <div class="my-top-product-list">
        <label>品牌来源</label><select class="dropdown" name="">
        <option class="label">全部</option>
        <option>最热</option>
        <option>爆款</option>
        <option>折扣最大</option>
    </select>
        <label>状态</label><select class="dropdown" name="">
        <option class="label">全部</option>
        <option>最热</option>
        <option>爆款</option>
        <option>折扣最大</option>
    </select>
        <label>项目类型</label><select class="dropdown" name="">
        <option class="label">全部</option>
        <option>最热</option>
        <option>爆款</option>
        <option>折扣最大</option>
    </select>
    </div>
    <!--  众筹项目开始-->

    <div class="my-item-box clearfix" id="invest-detail-ongoing">
        <p class="my-item-img pull-left"><img src="/images/demo/index-img.gif" width="216" height="152" alt=""/></p>
        <div class="my-item-info pull-left">
           <h3>品牌名称品牌名称</h3>
            <p>千万不要在一个模态框上重叠另一个模态框。要想同时支持多个模态框，需要自己写额外的代码来实现。千万不要在一个模态框上重叠另一个模态框。要想同时支持多个模态框，需要自己写额外的代码来实现。</p>
            <p>来自：日本</p>
        </div>
        <div class="my-item-status pull-left">
            <div class="my-item-progress my-mar-t30  clearfix"> <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>
                <span class="my-progress-num">62%</span>
            </div>
            <p class="my-p-status my-text-gray"><span>目标金额 <b>20万</b></span> <span>已众筹 <b>2万</b></span> <span>投资人数 <b>50人</b></span>           <span>剩余天数 <b>15天</b></span></p>
        </div>
    </div>
    <!--  众筹项目结束-->

    <!--  众筹项目开始-->
    <div class="my-item-box clearfix" id="invest-detail-succeed">
        <p class="my-item-img pull-left"><img src="/images/demo/index-img.gif" width="216" height="152" alt=""/></p>
        <div class="my-item-info pull-left">
            <h3>品牌名称品牌名称</h3>
            <p>千万不要在一个模态框上重叠另一个模态框。要想同时支持多个模态框，需要自己写额外的代码来实现。千万不要在一个模态框上重叠另一个模态框。要想同时支持多个模态框，需要自己写额外的代码来实现。</p>
            <p>来自：日本</p>
        </div>
        <div class="my-item-status pull-left">
            <div class="my-item-progress my-mar-t30  clearfix"> <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>
                <span class="my-progress-num">100%</span>
            </div>
            <p class="my-p-status my-text-gray"><span>目标金额 <b>20万</b></span> <span>已众筹 <b>20万</b></span> <span>投资人数 <b>50人</b></span>           <span>剩余天数 <b>0天</b></span></p>
        </div>
        <span class="my-product-list-failed"></span>
    </div>
    <!--  众筹项目结束-->

    <!--  众筹项目开始-->
    <div class="my-item-box clearfix" id="invest-detail-preheat">
        <p class="my-item-img pull-left"><img src="/images/demo/index-img.gif" width="216" height="152" alt=""/></p>
        <div class="my-item-info pull-left">
            <h3>品牌名称品牌名称</h3>
            <p>千万不要在一个模态框上重叠另一个模态框。要想同时支持多个模态框，需要自己写额外的代码来实现。千万不要在一个模态框上重叠另一个模态框。要想同时支持多个模态框，需要自己写额外的代码来实现。</p>
            <p>来自：日本</p>
        </div>
        <div class="my-item-status pull-left">
            <div class="my-item-progress my-mar-t30  clearfix"> <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>
                <span class="my-progress-num my-preheat-status">预热中</span>
            </div>
            <p class="my-p-status my-text-gray"><span>目标数量 <b>20万</b></span>         <span>开始时间 <b>2016-03-12</b></span>           <span>预约人数 <b>50人</b></span></p>
        </div>

    </div>
    <!--  众筹项目结束-->

    <!--  众筹项目开始-->
    <div class="my-item-box clearfix">
        <p class="my-item-img pull-left"><img src="/images/demo/index-img.gif" width="216" height="152" alt=""/></p>
        <div class="my-item-info pull-left">
            <h3>品牌名称品牌名称</h3>
            <p>千万不要在一个模态框上重叠另一个模态框。要想同时支持多个模态框，需要自己写额外的代码来实现。千万不要在一个模态框上重叠另一个模态框。要想同时支持多个模态框，需要自己写额外的代码来实现。</p>
            <p>来自：日本</p>
        </div>
        <div class="my-item-status pull-left">
            <div class="my-item-progress my-mar-t30  clearfix"> <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 62%;">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>
                <span class="my-progress-num">62%</span>
            </div>
            <p class="my-p-status my-text-gray"><span>目标金额 <b>20万</b></span> <span>已众筹 <b>2万</b></span> <span>投资人数 <b>50人</b></span>           <span>剩余天数 <b>15天</b></span></p>
        </div>
    </div>
    <!--  众筹项目结束-->
</div>

<footer>
    <p class="my-p-footer">友情链接 - <a href="#">美仓供应链</a><br>
        ©2015 xxxxxx众筹网络科技有限公司 zhongchou.com 版权所有 xxICP证1xxxxxxxx号</p>
</footer>
</div></div>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/my.js"></script>
<script type='text/javascript' src='../js/lib/requirejs.min.js' data-main='/js/controller/invest-ctrl' ></script>