<div class="page-group">
    <div id="page-invest-list" class="page page-current my-white-bg">
<header class="my-header-default">
    <div class=" my-login-header">
    	<span class="pull-left">
         Hi,用户名  <a href="/">退出</a>
        </span>
    </div>
</header>

<nav class="my-border-bottom">
    <div class="my-wp-1200">
        <a href="/login-suc" class="my-logo">美仓众筹</a>
        <ul class="nav nav-pills pull-right">

            <li role="presentation" class="active"><a href="../login-suc">首页</a></li>
            <li role="presentation"><a href="../invest/invest-list">权益众筹</a></li>
            <li role="presentation"><a href="../product/product-list">产品众筹</a></li>
            <li role="presentation"><a href="../users/my-pre-order">我的预约</a></li>
            <li role="presentation"><a href="../users/my-invest-list">我的众筹</a></li>
        </ul>
    </div>
</nav>


<div class="my-wp-1200">
    <ul class="my-nav-product-list clearfix">
        <li class="active"><a href="#">权益众筹</a></li>
        <li><a href="my-product-list">产品众筹 </a></li>
    </ul>

    <div class="my-top-product-list my-mar-0">
        <label>品牌来源</label><select class="dropdown" name="">
        <option class="label">全部</option>
        <option>最热</option>
        <option>爆款</option>
        <option>折扣最大</option>
    </select>
        <label>支付状态</label><select class="dropdown" name="">
        <option class="label">全部</option>
        <option>最热</option>
        <option>爆款</option>
        <option>折扣最大</option>
    </select>
    </div>

    <table class="ui-table-cart-header  my-mar-0" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td width="28%" align="left">项目信息</td>
            <td width="10%" >项目状态</td>
            <td width="12%" >进度</td>
            <td width="8%" >众筹数量</td>
            <td width="8%" >投资占比</td>
            <td width="12%" >实付金额</td>
            <td width="10%">状态</td>
            <td width="12%" >操作</td>
        </tr>
        </tbody>
    </table>

    <table width="100%" class="ui-table-cart-item ui-table-clear my-table-progress" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td colspan="8" class="my-order-num"><span>下单时间  2016-03-07  12:23</span><span>订单号  23222</span></td>
        </tr>
        <tr>
            <td width="28%"><span class="img-cart"><a href="#"><img src="/images/demo/cart1.gif" width="80" height="80"></a></span>
          <span class="title-cart title-middle">

          <a href="#">香奈儿口红唇膏 炫亮魅力 可可小姐 丝</a></span></td>
            <td width="10%" valign="top"><span class=" my-text-red">进行中</span></td>
            <td width="12%" valign="top">
                <p>目标：500万元</p>
                <p>60%</p>
                <div class="progress">

                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>
            </td>
            <td width="8%" valign="top">2份</td><td width="8%" valign="top">2%</td>
            <td width="12%" valign="top">5.00万元</td>
            <td width="10%" valign="top">待支付</td>
            <td width="12%" valign="top"><button type="button" class="btn btn-dark">已完成转账</button><br>
                <button type="button" class="btn btn-default">取消订单</button>
            </td>
        </tr>
    </table>

    <table width="100%" class="ui-table-cart-item ui-table-clear my-table-progress" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td colspan="8" class="my-order-num"><span>下单时间  2016-03-07  12:23</span><span>订单号  23222</span></td>
        </tr>
        <tr>
            <td width="28%"><span class="img-cart"><a href="#"><img src="/images/demo/cart1.gif" width="80" height="80"></a></span>
          <span class="title-cart title-middle">

          <a href="#">香奈儿口红唇膏 炫亮魅力 可可小姐 丝</a></span></td>
            <td width="10%" valign="top"><span>已完成</span></td>
            <td width="12%" valign="top"> <p>目标：500万</p>
                <p>100%</p>
                <div class="progress">

                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>
            </td> <td width="8%" valign="top">2份</td><td width="8%" valign="top">2%</td>
            <td width="12%" valign="top">5.00万元</td>
            <td width="10%" valign="top">审核中</td>
            <td width="12%" valign="top">
            </td>
        </tr>
    </table>

    <table width="100%" class="ui-table-cart-item ui-table-clear my-table-progress" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td colspan="8" class="my-order-num"><span>下单时间  2016-03-07  12:23</span><span>订单号  23222</span></td>
        </tr>
        <tr>
            <td width="28%"><span class="img-cart"><a href="#"><img src="/images/demo/cart1.gif" width="80" height="80"></a></span>
          <span class="title-cart title-middle">

          <a href="#">香奈儿口红唇膏 炫亮魅力 可可小姐 丝</a></span></td>
            <td width="10%" valign="top"><span>已完成</span></td>
            <td width="12%" valign="top"> <p>目标：500万</p>
                <p>100%</p>
                <div class="progress">

                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>
            </td> <td width="8%" valign="top">2份</td><td width="8%" valign="top">2%</td>
            <td width="12%" valign="top">5.00万元</td>
            <td width="10%" valign="top">审核中</td>
            <td width="12%" valign="top">
            </td>
        </tr>
    </table>

    <table width="100%" class="ui-table-cart-item ui-table-clear my-table-progress" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td colspan="8" class="my-order-num"><span>下单时间  2016-03-07  12:23</span><span>订单号  23222</span></td>
        </tr>
        <tr>
            <td width="28%"><span class="img-cart"><a href="#"><img src="/images/demo/cart1.gif" width="80" height="80"></a></span>
          <span class="title-cart title-middle">

          <a href="#">香奈儿口红唇膏 炫亮魅力 可可小姐 丝</a></span></td>
            <td width="10%" valign="top"><span>已完成</span></td>
            <td width="12%" valign="top"> <p>目标：500万</p>
                <p>100%</p>
                <div class="progress">

                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>
            </td> <td width="8%" valign="top">2份</td><td width="8%" valign="top">2%</td>
            <td width="12%" valign="top">5.00万元</td>
            <td width="10%" valign="top">已支付</td>
            <td width="12%" valign="top"><button type="button" class="btn btn-default" id="view-invest-process">查看项目进度</button>
            </td>
        </tr>
    </table>

    <table width="100%" class="ui-table-cart-item ui-table-clear my-table-progress" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td colspan="8" class="my-order-num"><span>下单时间  2016-03-07  12:23</span><span>订单号  23222</span></td>
        </tr>
        <tr>
            <td width="28%"><span class="img-cart"><a href="#"><img src="/images/demo/cart1.gif" width="80" height="80"></a></span>
          <span class="title-cart title-middle">

          <a href="#">香奈儿口红唇膏 炫亮魅力 可可小姐 丝</a></span></td>
            <td width="10%" valign="top"><span>已完成</span></td>
            <td width="12%" valign="top"> <p>目标：500万</p>
                <p>100%</p>
                <div class="progress">

                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>
            </td> <td width="8%" valign="top">2份</td><td width="8%" valign="top">2%</td>
            <td width="12%" valign="top">5.00万元</td>
            <td width="10%" valign="top">已支付</td>
            <td width="12%" valign="top"><button type="button" class="btn btn-default">查看项目进度</button>
            </td>
        </tr>
    </table>
    <div class="digg my-mar-b50">
        <span class="disabled">&lt; 上一页</span><span class="current">1</span><a href="#">2</a><a href="#">3</a><a href="#">4</a>
        ...
        <a href="#">5</a><a href="#" class="next">下一页 &gt;</a><a href="#">末页</a>
    </div>
</div>

<footer>
    <p class="my-p-footer">友情链接 - <a href="#">美仓供应链</a><br>
        ©2015 xxxxxx众筹网络科技有限公司 zhongchou.com 版权所有 xxICP证1xxxxxxxx号</p>
</footer>
</div></div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/my.js"></script>
<script type='text/javascript' src='../js/lib/requirejs.min.js' data-main='/js/controller/users-ctrl' ></script>