<div class="page-group">
    <div id="page-my-pre-order" class="page page-current my-white-bg">
<header class="my-header-default">
    <div class=" my-login-header">
    	<span class="pull-left">
         Hi,用户名  <a href="/">退出</a>
        </span>
    </div>
</header>

<nav class="my-border-bottom">
    <div class="my-wp-1200">
        <a href="/login-suc" class="my-logo">美仓众筹</a>
        <ul class="nav nav-pills pull-right">

            <li role="presentation" class="active"><a href="../login-suc">首页</a></li>
            <li role="presentation"><a href="../invest/invest-list">权益众筹</a></li>
            <li role="presentation"><a href="../product/product-list">产品众筹</a></li>
            <li role="presentation"><a href="../users/my-pre-order">我的预约</a></li>
            <li role="presentation"><a href="../users/my-invest-list">我的众筹</a></li>
        </ul>
    </div>
</nav>


<div class="my-wp-1200">
    <div class="my-title-box clearfix">
        <h2 class="ui-h2-cart pull-left"><span class="ui-icon ui-icon-arrow"></span>新品发布</h2>
    </div>

    <table class="ui-table-cart-header" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td width="36%" align="left">项目信息</td>
            <td width="12%">项目状态</td>
            <td width="20%">开始时间</td>
            <td width="20%">结束时间</td>
            <td width="12%">操作</td>
        </tr>
        </tbody>
    </table>

    <table width="100%" class="ui-table-cart-item ui-table-clear" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="36%"><span class="img-cart"><a href="#"><img src="/images/demo/cart1.gif" width="80" height="80"></a></span>
          <span class="title-cart title-middle">
          <h4><strong>品牌权益众筹</strong></h4>
          <a href="#">香奈儿口红唇膏 炫亮魅力 可可小姐 丝</a></span></td>
            <td width="12%"><span class=" my-text-red">进行中</span></td>
            <td width="20%">2016-03-07 12:00</td>
            <td width="20%">2016-03-12 12:00 </td>
            <td width="12%"><button type="button" class="btn btn-dark" id="detail-to-join">去支持</button></td>
        </tr>
    </table>

    <table width="100%" class="ui-table-cart-item ui-table-clear" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="36%"><span class="img-cart"><a href="#"><img src="/images/demo/cart1.gif" width="80" height="80"></a></span>
          <span class="title-cart title-middle">
          <h4><strong>品牌权益众筹</strong></h4>
          <a href="#">香奈儿口红唇膏 炫亮魅力 可可小姐 丝</a></span></td>
            <td width="12%"><span class=" my-text-red">进行中</span></td>
            <td width="20%">2016-03-07 12:00</td>
            <td width="20%">2016-03-12 12:00 </td>
            <td width="12%"><button type="button" class="btn btn-dark" >去支持</button></td>
        </tr>
    </table>

    <table width="100%" class="ui-table-cart-item ui-table-clear" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="36%"><span class="img-cart"><a href="#"><img src="/images/demo/cart1.gif" width="80" height="80"></a></span>
          <span class="title-cart title-middle">
          <h4><strong>品牌权益众筹</strong></h4>
          <a href="#">香奈儿口红唇膏 炫亮魅力 可可小姐 丝</a></span></td>
            <td width="12%"><span class=" my-text-red">进行中</span></td>
            <td width="20%">2016-03-07 12:00</td>
            <td width="20%">2016-03-12 12:00 </td>
            <td width="12%"><button type="button" class="btn btn-dark">去支持</button></td>
        </tr>
    </table>

    <table width="100%" class="ui-table-cart-item ui-table-clear" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="36%"><span class="img-cart"><a href="#"><img src="/images/demo/cart1.gif" width="80" height="80"></a></span>
          <span class="title-cart title-middle">
          <h4><strong>品牌权益众筹</strong></h4>
          <a href="#">香奈儿口红唇膏 炫亮魅力 可可小姐 丝</a></span></td>
            <td width="12%"><span class=" my-text-blue">预热中</span></td>
            <td width="20%">2016-03-07 12:00</td>
            <td width="20%">2016-03-12 12:00 </td>
            <td width="12%"><button type="button" class="btn btn-default">查看详情</button></td>
        </tr>
    </table>

    <table width="100%" class="ui-table-cart-item ui-table-clear" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="36%"><span class="img-cart"><a href="#"><img src="/images/demo/cart1.gif" width="80" height="80"></a></span>
          <span class="title-cart title-middle">
          <h4><strong>品牌权益众筹</strong></h4>
          <a href="#">香奈儿口红唇膏 炫亮魅力 可可小姐 丝</a></span></td>
            <td width="12%"><span class=" my-text-blue">预热中</span></td>
            <td width="20%">2016-03-07 12:00</td>
            <td width="20%">2016-03-12 12:00 </td>
            <td width="12%"><button type="button" class="btn btn-default">查看详情</button></td>
        </tr>
    </table>
    <div class="digg my-mar-b50">
        <span class="disabled">&lt; 上一页</span><span class="current">1</span><a href="#">2</a><a href="#">3</a><a href="#">4</a>
        ...
        <a href="#">5</a><a href="#" class="next">下一页 &gt;</a><a href="#">末页</a>
    </div>
</div>

<footer>
    <p class="my-p-footer">友情链接 - <a href="#">美仓供应链</a><br>
        ©2015 xxxxxx众筹网络科技有限公司 zhongchou.com 版权所有 xxICP证1xxxxxxxx号</p>
</footer>
</div></div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/my.js"></script>
<script type='text/javascript' src='../js/lib/requirejs.min.js' data-main='/js/controller/users-ctrl' ></script>