<header class="my-header-default">
    <div class=" my-login-header">
    	<span class="pull-left">
         Hi,用户名  <a href="/">退出</a>
        </span>
    </div>
</header>

<nav class="my-border-bottom">
    <div class="my-wp-1200">
        <a href="/login-suc" class="my-logo">美仓众筹</a>
        <ul class="nav nav-pills pull-right">

            <li role="presentation" class="active"><a href="../login-suc">首页</a></li>
            <li role="presentation"><a href="../invest/invest-list">权益众筹</a></li>
            <li role="presentation"><a href="../product/product-list">产品众筹</a></li>
            <li role="presentation"><a href="../users/my-pre-order">我的预约</a></li>
            <li role="presentation"><a href="../users/my-invest-list">我的众筹</a></li>
        </ul>
    </div>
</nav>


<div class="my-wp-1200">
    <div class="cart-title-box ui-reg-nav clearfix">
        <ul class="ui-nav">
            <li class="ui-nav-item">
                <span class="ui-nav-item-order">1</span>
                <span class="ui-nav-item-text">提交订单</span>
            </li>
            <li class="ui-nav-item ui-nav-item-current">
                <span class="ui-nav-item-order">2</span>
                <span class="ui-nav-item-text">订单支付</span>
            </li>
            <li class="ui-nav-item">
                <span class="ui-nav-item-order">3</span>
                <span class="ui-nav-item-text">支付完成</span>
            </li>
        </ul>

    </div>

    <div class="my-box">
        <div class="my-booking-box">
            <p class="clearfix">
                <span class="pull-left">线下支付</span>
                <span class="pull-right">支付金额 <span class="my-text-red">￥5500元</span></span>
            </p>
            <p class="my-p-booking-tip">为保证网上支付的安全性，各银行对用户都有不同程度的单次或单日限额
                如您无法通过线上完成支付，可通过<span class="my-text-blue">网上银行或银行柜台转账</span>完成订单支付。</p>

            <p class="my-text-center my-text-gray"><button type="button" class="btn btn-dark" id="product-booking-pay-confirm">确认线下打款并获取打款方式</button><br>
                手续费以汇款银行为准</p>
        </div>
    </div>



</div>

<footer>
    <p class="my-p-footer">友情链接 - <a href="#">美仓供应链</a><br>
        ©2015 xxxxxx众筹网络科技有限公司 zhongchou.com 版权所有 xxICP证1xxxxxxxx号</p>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/my.js"></script>
<script type='text/javascript' src='../js/lib/requirejs.min.js' data-main='/js/controller/product-ctrl' ></script>