<nav class="my-border-bottom">
    <div class="my-wp-1200">
        <a href="/" class="my-logo">美仓众筹</a>
        <div class="my-top-login pull-right">
            <a href="login">登录</a>  | <a href="reg-start">注册</a>
        </div>
    </div>
</nav>


<div class="my-wp-1200">
    <div class="cart-title-box ui-reg-nav clearfix">
        <ul class="ui-nav">
            <li class="ui-nav-item">
                <span class="ui-nav-item-order">1</span>
                <span class="ui-nav-item-text">账户注册</span>
            </li>
            <li class="ui-nav-item">
                <span class="ui-nav-item-order">2</span>
                <span class="ui-nav-item-text">填写基本信息</span>
            </li>
            <li class="ui-nav-item">
                <span class="ui-nav-item-order">3</span>
                <span class="ui-nav-item-text">店铺/平台验证</span>
            </li>
            <li class="ui-nav-item ui-nav-item-current">
                <span class="ui-nav-item-order">4</span>
                <span class="ui-nav-item-text">注册成功</span>
            </li>
        </ul>

    </div>

    <div class="my-box">
        <div class="ui-reg-complete">
            <h3><span class="ui-icon ui-icon-check"></span>等待审核</h3>
            你可以<a href="/"> 返回首页</a> </div>
    </div>
</div>

<footer>
    <p class="my-p-footer">友情链接 - <a href="#">美仓供应链</a><br>
        ©2015 xxxxxx众筹网络科技有限公司 zhongchou.com 版权所有 xxICP证1xxxxxxxx号</p>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/my.js"></script>